{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
    

{% if messages %}
{% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}

<div class="heading"><h2>Approve Companies</h2>
</div>
<div class="container">
    <a class="btn btn-purple" href="admin_dashboard">Back to Dashboard</a>

<h2 class="text-center">Pending Companies to be Approved</h2>
{% if pending_companies %}
<table class="table table-bordered table-striped">
    <thead>
            <tr>
                <th>Company Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for company in pending_companies %}
                <tr>
                    <td>{{ company.company_name }}</td>
                    <td>{{ company.company_address }}</td>
                    <td>{{ company.company_phone }}</td>
                    <td>
                        {% if company.id %}
                        <a href="{% url 'approve_company' company.id %}" class="btn btn-success">Approve</a>
                        <a href="{% url 'view_company_info' company.id %}" class="btn btn-info">View Profile</a>
                        <a href="{% url 'delete_company' company.id %}" class="btn btn-danger">Delete</a>
                    {% else %}
                        <p>Error: No company ID found</p>
                    {% endif %}


                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-center">No pending companies for approval.</p>
{% endif %}
<hr>
<h2 class="text-center">Approved Companies</h2>

{% if approved_companies %}
<table class="table table-bordered table-striped">
    <thead>
            <tr>
                <th>Company Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>approved</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for company in approved_companies %}
                <tr>
                    <td>{{ company.company_name }}</td>
                    <td>{{ company.company_address }}</td>
                    <td>{{ company.company_phone }}</td>
                    <td>{{ company.approved }}</td>

                    <td>
                        
                        <a href="{% url 'view_company_info' company.id %}" class="btn btn-info">View Profile</a>
                        <a href="{% url 'dis_approve_company' company.id %}" class="btn btn-danger">Suspend</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-center">No approved companies yet.</p>
{% endif %}
</div>
{% endblock nav_and_footer %}
