{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}



<!DOCTYPE html>
<html>
<head>
    <title>Department List</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
<div class="heading">
    <h1>Department List</h1>

</div>
<div class="container ">
    <a class="btn btn-purple mb-3" href="admin_dashboard">Back to Dashboard</a>

    <table class="table table-striped table-bordered table-responsive">
        <tr>
            <th>user name</th>
            <th>department head</th>
            <th>department name</th>

        </tr>
        {% for department in departments %}
        <tr>
            <td>{{ department.user.username }}</td>
            <td>{{ department.department_head }}</td>
            <td>{{ department.department_name }}</td>


        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>



{% endblock nav_and_footer %}
    