{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}



    <!-- admin_pages/student_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    {% if messages %}
    <ul class="text-Success">
        {% for message in messages %}
           <p>{{ message }}</p>
        {% endfor %}
    </ul>
{% endif %}
<div class="heading">
    <h1>Department List</h1>

</div>
    <table class="table table-striped">
        <tr>
            <th>user name</th>
            <th>department head</th>
            <th>department name</th>

        </tr>
        {% for department in departments %}
        <tr>
            <td>{{ department.user.username }}</td>
            <td>{{ department.department_head }}</td>
            <td>{{ department.department_name }}</td>


                {% comment %} <a href="{% url 'delete_student' student.id %}">Delete</a> {% endcomment %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>



{% endblock nav_and_footer %}
    