{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}



    <!-- admin_pages/student_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
<div class="heading">
    <h1>Internship_career_office List</h1>

</div>
<div class="container ">

<table class="table table-striped table-bordered">
    <tr>
            <th>user name</th>
            <th>ICU director</th>
            <th>Email Address</th>
            <th>Actions</th>

        </tr>
        {% for icu_lists in icu_list %}
        <tr>
            <td>{{ icu_lists.user.username }}</td>
            <td>{{ icu_lists.ICU_director }}</td>
            <td>{{ icu_lists.user.email }}</td>
            <td>
                <a class="btn btn-purple" href="{% url 'delete_icu' icu_lists.id %}">Delete</a>
            </td>        
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>



{% endblock nav_and_footer %}
    