{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}

<div class="heading">
    <h1>Register Internship Career Office</h1>

</div>
{% if messages %}
  {% for message in messages %}
    <div class="alert {{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<link rel="stylesheet" href="{% static 'css/applications.css' %}">
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
  <button href="admin_dashboard" class="btn">Back to dashboard</button>
  <button type="submit" class="btn">Register</button>
</form>
</div>



{% endblock nav_and_footer %}
