{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
{% if messages %}
<div id="message-container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="heading">
    <h1>Register Internship Career Office</h1>
</div>
<div class="dashboard">

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>
</div>
{% endblock nav_and_footer %}
