{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}



    <!-- admin_pages/student_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
<div class="heading">
    <h1>Supervisor List</h1>

</div>
<div class="container">

<table class="table table-striped">
    <tr>
            <th>user name</th>
            <th>supervisor name</th>
            <th>department name</th>
            <th>Actions</th>

        </tr>
        {% for supervisor in supervisors %}
        <tr>
            <td>{{ supervisor.user.username }}</td>
            <td>{{ supervisor.supervisor_name }}</td>
            <td>{{ supervisor.department.department_name }}</td>
            <td>
                <a class="btn btn-purple" href="{% url 'delete_supervisor' supervisor.id %}">Delete</a>
            </td>

                {% comment %} <a href="{% url 'delete_student' student.id %}">Delete</a> {% endcomment %}
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>



{% endblock nav_and_footer %}
    