{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
<div class="heading">
    <h2>Company Profile</h2>
</div>
<div class="container">
    <p><strong>Company Name:</strong> {{ company.company_name }}</p>
    <p><strong>Address:</strong> {{ company.company_address }}</p>
    <p><strong>Phone:</strong> {{ company.company_phone }}</p>
    <p><strong>Description:</strong> {{ company.company_description }}</p>
    <p><strong>Approved:</strong> {{ company.approved|yesno:"Yes,No" }}</p>

<a href="{% url 'approve_companies' %}" class="btn btn-purple">Back to Approvals</a>
</div>

{% endblock nav_and_footer %}
