body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.applications-list {
    width: 80%;
    margin: 0 auto;
}

.application {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.application h2 {
    margin-top: 0;
}



.btn-purple{
    background-color: purple;
    color: white;
  }
  .btn-purple:hover{
    background-color: #c923a5;
    color: white;
  }