.submission-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-control {
  width: 100%;
  box-sizing: border-box;
}
.btn-purple {
  background-color: purple;
  color: white;
  font-weight: bold;
  width: 100%;
  margin-right:10px;
}
.btn-purple:hover {
  background-color: #c923a5;
}
.file-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px dashed purple;
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s;
  text-align: center;
}
.file-input-container:hover {
  border-color: rgb(150, 17, 150);
}