
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* .opportunities-list {
    margin: 0 auto;
}
*/
.opportunity {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;

} 

.opportunity h2 {
    margin-top: 0;
}

.btn-purple{
  background-color: purple;
  color: white;
}
.btn-purple:hover{
  background-color: #c923a5;
  color: white;
}

.content-container{
    margin-left: 10%;
}

 
  @keyframes bounce {
0% {
  transform: translateY(0);
}
50% {
  transform: translateY(-10px);
}
100% {
  transform: translateY(0);
}
}

.bounce {
animation: bounce 2s;
}
a{
text-decoration: none;
}
