{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
    

    

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Applications</title>
    <link rel="stylesheet" href="{% static 'css/applications.css' %}">
</head>
<body>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="heading">
    <h1>My Applications</h1>

</div>
    <div class="applications-list">
        {% if applications %}
            {% for app in applications %}
            <ul class="application">

                    <h3>{{ app.internship.title }}</h3>
                    <p>Company: {{ app.company.company_name }}</p>
                    <p>Applied on: {{ app.applied_on|date:"F d, Y" }}</p>
                    <p>Status: 
                        {% if app.status == "Pending" %}
                            <span style="color: orange;">{{ app.status }}</span>
                        {% elif app.status == "Accepted" %}
                            <span style="color: green;">{{ app.status }}, We will contact you soon.</span>
                        {% elif app.status == "Rejected" %}
                            <span style="color: red;">{{ app.status }}</span>
                        {% endif %}
                    </p>
                </ul>

            {% endfor %}
        
    {% else %}
    <ul class="application">

        <p> <strong>You haven't applied to any Internships yet.</strong></p>
        <p><strong>Search and Apply for Internships <a href="intern_opportunities">here</a></strong></p>
    </ul>

    {% endif %}
    <a href="{% url 'student_dashboard' %}" class="btn btn-purple ms-1 mb-1">Back to Dashboard</a>


        
    </div>
</body>
</html>
{% endblock nav_and_footer %}