{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Bi-Weekly Report</title>
    <link rel="stylesheet" href="{% static 'css/bi_weekly_report.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<style>
    .form-row{
        width: 50%;
        margin-left:25%;
        padding:40px;
        border: 2px solid;
        border-radius: 20px;
    }
</style>

<body>
    <div class="heading">
        <h1 >Internship Bi-Weekly Report</h1>
    </div>

        <div class="form-row">
       
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        
        </div>
    </body>
    </html>


{% comment %} 
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<td>{{ user.report.id }}</td>  <!-- Corrected from user.report to report -->

{% if report %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Report Number</th>
      <th>Week Start</th>
      <th>Week End</th>
      <th>Total Hours Completed</th>
      <th>Assignment Responsibilities</th>
      <th>Critical Analysis</th>
      <th>Submitted On</th>
    </tr>
  </thead>
  <tbody>
    {% for reports in report %}
      <tr>
        <td>{{ user.report.report_number }}</td>  <!-- Corrected from user.report to report -->
        <td>{{ report.week_start }}</td>
        <td>{{ report.week_end }}</td>
        <td>{{ report.total_hours_completed }}</td>
        <td>{{ report.assignment_responsibilities }}</td>
        <td>{{ report.critical_analysis }}</td>
        <td>{{ report.date_submitted }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No reports submitted yet.</p>
{% endif %} {% endcomment %}



{% endblock nav_and_footer %}
    