{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Applications</title>
    <link rel="stylesheet" href="{% static 'css/applications.css' %}">
</head>
<div class="heading">
    <h1>Select Your Active Company</h1>
</div>
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}

<form method="post">

    
    {% csrf_token %}

    {% if accepted_applications %}
    {% for application in accepted_applications %}
    <div class="applications-list">
    <div class="application">
        <label>
            <input type="radio" name="application_id" value="{{ application.id }}">
            {{ application.internship.title }} -  {{ application.company.company_name }} 
        </label>
        <br>
    </div>
</div>
{% endfor %}
<div class="applications-list">
    <a href="{% url 'student_dashboard' %}" class="btn btn-purple ">Back to Dashboard</a>
    <button class="btn btn-purple " type="submit">Submit</button>
</div>

    {% else %}
    <div class="applications-list">
        <div class="application">
            <p><strong>You Don't Have Any Accepted Internship Applications Yet.</strong></p>
</div>
</div>
    {% endif %}
</form>


{% endblock nav_and_footer %}
