{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Applications</title>
    <link rel="stylesheet" href="{% static 'css/applications.css' %}">
</head>
<div class="heading">
    <h1>Select Your Active Company</h1>
</div>
{% if messages %}
<div id="message-container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<form method="post">

    {% csrf_token %}

    {% if accepted_applications %}
    {% for application in accepted_applications %}
    <div class="applications-list">
    <div class="application">
        <label>
            <input type="radio" name="application_id" value="{{ application.id }}">
            {{ application.company.name }} - {{ application.internship.title }}
        </label>
        <br>
    </div>
</div>
{% endfor %}
<button type="submit">Submit</button>
    {% else %}
    <div class="applications-list">
        <div class="application">
            <p><strong>You Don't Have Any Accepted Internship Applications Yet.</strong></p>
</div>
</div>
    {% endif %}
</form>


{% endblock nav_and_footer %}
