{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
    


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{% static 'CSS/student_dashboard.css' %}">
</head>
<body>

    <div class="heading">
        <h1>Student Profile</h1>
    </div>
    <header>
        <h1>Welcome, {{ user.username }}</h1>
        <p>You are logged in as a {{ user.user_type }}</p>
    </header>
    
    


        <div class="dashboard-item">
            {{ user.student_profile.full_name }} <br>
            {{ user.first_name }} <br>
            {{ user.last_name }} <br>
          
            {{ user.username }} <br>
              {{ user.student_profile.email }} <br>
              {{ user.student_profile.phone_number }} <br>
              {{ user.student_profile.major }} <br>
              {{ user.student_profile.skills }} <br>
              {{ user.student_profile.resume }}
          
          
        </div>
    </div>
    <br>
    <br>
    <br>

 

</body>
</html>



{% endblock nav_and_footer %}
    