{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
<head>    <link rel="stylesheet" href="{% static 'CSS/student_dashboard.css' %}">
</head>
    <style>
        .students-container{
            background-color: whitesmoke;
            border: 3px solid #f1f1f1;
            border-radius: 10px;
            padding: 20px;
            width: 50%;
            margin: auto;
            margin-top: 50px;
        
          }
          
    </style>
    <div class="heading">
        <h1>Student Profile</h1>
    </div> 
    <div class="students-container">
        <h2>Profile Information</h2>

    <h4><strong>Name:</strong> {{ student_user.first_name }} {{ student_user.last_name }}</h4>
    <p><strong>ID Number:</strong> {{ student_user.username }}</p>
    <p><strong>Email:</strong> {{ student_profile.email }}</p>
    <p><strong>Department:</strong> {{ student_profile.department }}</p>
    <p><strong>phone_number:</strong> {{ student_profile.phone_number }}</p>
    <p><strong>Batch:</strong> {{ student_profile.batch }}</p>
    <p><strong>Section:</strong> {{ student_profile.section }}</p>
    <p><strong>Gender:</strong> {{ student_profile.gender }}</p>
    <p><strong>year of study:</strong> {{ student_profile.year_of_study }}</p>
    <p><strong>skills:</strong> {{ student_profile.skills }}</p>
    {% if student_profile.resume %}
    <p><strong>Resume:</strong> <a href="{{ student_profile.resume.url }}" target="_blank">Download</a></p>
    {% else %}
    <p><strong>Resume:</strong>
{% endif %}

{% if student_profile.linkedin_profile %}
    <p><strong>LinkedIn:</strong> <a href="{{ student_profile.linkedin_profile }}" target="_blank">{{ student_profile.linkedin_profile }}</a></p>
{% endif %}
    <p><strong>profile_completed:</strong> {{ student_profile.profile_completed }}</p>

    <!-- Add more fields as needed from stud_profile model -->

    <a href="{% url 'student_dashboard' %}" class="btn">Back to Dashboard</a>
    <a href="{% url 'student_profile' %}" class="btn">Edit Profile</a>
</div>

{% endblock nav_and_footer %}
    