{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
<h2>Approve Final Report</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Approve</button>
</form>
{% endblock nav_and_footer %}
