{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Dashboard</title>
    <link rel="stylesheet" href="{% static 'company_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">

</head>
<body>
    <div class="heading">
        <h1>Company Dashboard</h1>
    </div>
    <div class="dashboard">
        <div class="dashboard-item">
            <h2>Posted Internships</h2>
            <p>Total: 3</p>
            <a href="{% url 'post_internship.html' %}" class="btn">Post New Internship</a>
        </div>

        <div class="dashboard-item">
            <h2>Applications Received</h2>
            <p>Total: 15</p>
            <a href="{% url 'view_applicants.html' %}" class="btn">View Applicants</a>
        </div>

        <div class="dashboard-item">
            <h2>Manage Interns</h2>
            <a href="{% url 'manage_interns.html' %}" class="btn">Manage Attendance</a>
        </div>
    </div>
</body>
</html>


{% endblock nav_and_footer %}
    