{% extends "main_pages/base.html" %}
{% load static %}

{% block nav_and_footer %}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/company_dashboard.css' %}">

</head>
<body>
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
    <div class="heading">
        <h1>Company Dashboard</h1>
    </div>
    <header>
        <h1>Welcome, {{ user.username }}</h1>
        <p class="text-center">You are logged in as a {{ user.user_type }}</p>
    </header>

    <div class="dashboard">

        <div class="dashboard-item">
            <h2>My Profile</h2>
            <p>View your Company's profile.</p>
            <a href="{% url 'view_company_profile' user_id=request.user.id %}" class="btn1">View Profile</a>

        </div>
        <div class="dashboard-item">
            <h2>Posted Internships</h2>
            <p>Post Your Internships</p>
            <a href="{% url 'post_internship' %}" class="btn1">Post New Internship</a>
        </div>
        <div class="dashboard-item">
            <h2>Applicants</h2>
            {% if internship_list %} 
        {% for internship in internship_list %}
       <ul>
        <p>Total: 2</p>
       <a class="btn1" href="{% url 'view_applicants' internship_id=internship.id %}">{{ internship.title }} Applicants</a></li> 

       </ul>
        {% endfor %}
        {% else %}
        <p><strong>No Applicants Yet.</strong></p>
        {% endif %}
        </div>
        {% comment %} <a class="dropdown-item" href="{% url 'view_applicants' internship_id=request.internship.id %}">Applicants</a> {% endcomment %}
        <div class="dashboard-item">
            <h2>Review Bi-weekly Reports</h2>
            <p>Review and Approve</p>
            <a href="{% url 'review_biweekly_reports' %}" class="btn1">View Bi-weekly Reports</a>
        </div>
        <div class="dashboard-item">
            <h2>Manage Interns</h2>
            <p>Total: 8</p>
            <a href="{% url 'attendance' %}" class="btn1">Manage Attendance</a>
        </div>
        <div class="dashboard-item">
            <h2>Review Final Report</h2>
            <p>Review and Approve</p>
            <a href="{% url 'review_final_reports' %}" class="btn1">View Final Reports</a>
        </div>
    </div>
</body>
</html>


{% endblock nav_and_footer %}
    